@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #f9fafb;
}

body {
  background: var(--background);
  color: var(--foreground);
  background-image: linear-gradient(135deg, #1f2937 0%, #111827 50%, #111827 100%);
}

.wallet-gradient {
  background: linear-gradient(135deg, #9333ea 0%, #7e22ce 100%);
}